[run]
omit =
    */migrations/*
    */tests/*
    */asgi.py
    */wsgi.py
    manage.py
    */admin.py
    */apps.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if __name__ == .__main__.: